# iPodOS26 Y1 360p Light
wps: /sdcard/.rockbox/wps/iPodOS26Y1Light.wps
sbs: /sdcard/.rockbox/wps/iPodOS26Y1Light.sbs
font: /sdcard/.rockbox/fonts/16-Inter-V.fnt
foreground color: 202020
background color: -
backdrop: -
statusbar: off
scrollbar: off
selector type: pointer
show icons: off
list padding: 23
