# iPodOS26 Y1 360p Dark
wps: /sdcard/.rockbox/wps/iPodOS26Y1Dark.wps
sbs: /sdcard/.rockbox/wps/iPodOS26Y1Dark.sbs
font: /sdcard/.rockbox/fonts/16-Inter-V.fnt
foreground color: 4A4A4A
background color: -
backdrop: -
statusbar: off
scrollbar: off
selector type: pointer
show icons: off
list padding: 23
